<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QBInvoiceExport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WebserviceURL1" value="http://www.irstaxrecords.com/IRSTaxServices.asmx"/>
    <add key="WebserviceURL" value="http://localhost:1143/IRSTaxServices.asmx"/>
    

	  <add key="WebServiceUserName" value="Sameers"/>
	  <add key="WebServicePassword" value="Sameers"/>

    <add key="InvoiceDateDifferenceInDays" value="45"/>

  </appSettings>
  <applicationSettings>
    <QBInvoiceExport.My.MySettings>
      <setting name="QBInvoiceExport_IRSTaxServices_IRSTaxServices" serializeAs="String">
        <value>http://localhost:1143/IRSTaxServices.asmx</value>
      </setting>
    </QBInvoiceExport.My.MySettings>
  </applicationSettings>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
