<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <connectionStrings>
    <add name="IRSConnection" connectionString="Data Source=DDESKTOP-2KI82RU;Initial Catalog=IRSTax;Integrated Security=True;Persist Security Info=True;uid=sa;pwd=I486773;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ConnectionString" value="server=DEVELOPERSINN-O\SQL2008;database=IRSTax;uid=sa;pwd=sameers;"/>-->
    <add key="ConnectionString" value="server=DESKTOP-2KI82RU;database=IRSTax;Persist Security Info=True;uid=sa;pwd=I486773;" />
    <add key="PDFSavePath" value="C:\temp\uploaded files\" />
  </appSettings>
</configuration>